pkgbase = sonic-frameworks-quick-ui
	pkgdesc = A QtQuick based components set
	pkgver = 6.29.0.1
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-quick-ui
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = qt6-shadertools
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libgomp
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	provides = kirigami
	conflicts = kirigami
	source = sonic-frameworks-quick-ui-6.27.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-quick-ui/archive/refs/tags/6.27.0.tar.gz
	sha256sums = a092bbe4e0ad919e973ece9d0ba54c1f51013ae86d63fb1a7ddfd5a88b9d3b67

pkgname = sonic-frameworks-quick-ui
