pkgbase = sonic-screenies
	pkgdesc = SonicDE screenshot capture utility
	pkgver = 6.7.4.1
	pkgrel = 1
	epoch = 1
	url = https://github.com/Sonic-DE/sonic-screenies
	arch = x86_64
	groups = sonicde
	license = GPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-frameworks-doctools
	depends = glibc
	depends = kconfig
	depends = kcrash
	depends = kdbusaddons
	depends = ki18n
	depends = kjobwidgets
	depends = knotifications
	depends = kpipewire
	depends = kquickimageeditor
	depends = kservice
	depends = kstatusnotifieritem
	depends = kwidgetsaddons
	depends = kxmlgui
	depends = libgcc
	depends = libstdc++
	depends = libxcb
	depends = opencv
	depends = prison
	depends = purpose
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-imageformats
	depends = qt6-multimedia
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-io
	depends = sonic-frameworks-keybind
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-settings-ui
	depends = sonic-frameworks-windowsystem
	depends = tesseract
	depends = xcb-util
	depends = xcb-util-cursor
	depends = xcb-util-image
	provides = spectacle
	conflicts = spectacle
	source = sonic-screenies-6.7.4.tar.gz::https://github.com/Sonic-DE/sonic-screenies/archive/refs/tags/6.7.4.tar.gz
	source = 0001-use-opencv5-when-available.patch
	sha256sums = 0fdcc97011395bcfa0c411295912f495482b7c69e60755bc60e58711bcc33b9d
	sha256sums = 987b1c7a253c448c6a310e339a4ead20b16247865ae5ea45326722dac38ed61d

pkgname = sonic-screenies
