pkgbase = sonic-breeze
	pkgdesc = Highly customizable binary Window Decoration, Application Style and Global Theme plugin for SonicDE.
	pkgver = 6.7.4.2
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-breeze
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	depends = breeze-icons
	depends = frameworkintegration
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = kcmutils
	depends = kcolorscheme
	depends = kconfig
	depends = ki18n
	depends = kiconthemes
	depends = kwidgetsaddons
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = sonic-decoration
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-windowsystem
	depends = xdg-utils
	source = sonic-silver-6.7.4.1.tar.gz::https://github.com/Sonic-DE/silver-theme/archive/refs/tags/6.7.4.1.tar.gz
	sha256sums = 5db64f324d534e5ca28162d49ef2757494f60e942aec57436ffc1187f9912298
pkgname = sonic-silver-theme
